html {
  font-size: 17px;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Roboto",
    "Noto Sans JP",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: var(--body-bg);

  &.mobile {
    background-color: var(--body-bg-mobile);

    .explanation ul {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.grammar-highlight {
  color: var(--grammar-highlight);
  background-color: var(--grammar-highlight-bg);
  border-radius: var(--p-content-border-radius);
  padding: 3px;
}
.mobile .grammar-highlight {
  background-color: var(--grammar-highlight-bg-mobile);
}

.g {
  color: var(--grammar-highlight);
}

.h {
  color: var(--stem-change-highlight);
}

.remove {
  color: var(--remove-highlight);
}

.k {
  color: var(--kanji-highlight);
}

.note {
  padding: 10px;
  margin: 20px 0;
  background-color: var(--note-bg-color);
  border-radius: var(--p-content-border-radius);

  .note-title {
    color: var(--note-text-color);
    margin-bottom: 2px;
  }
}

ruby rt {
  /* font-size: 60%; */
  margin-bottom: 2px;
  color: var(--kanji-highlight);
}

.structure-content ruby rt {
  font-size: 60%;
}

.kanji-mb {
  padding-bottom: 2px;
}

.structure-title {
  padding-top: 10px;
  padding-bottom: 5px;
  opacity: 0.6;


  &.small {
    font-size: 0.9em;
    margin-top: 8px;
  }

  &.top {
    padding-top: 0;
    margin-top: 0;
  }
}

.mobile .structure-title {
  font-size: 0.9rem;
}

.link {
  text-decoration: none;
  padding: 2px 4px;
  margin: 0 2px;
  white-space: nowrap;
  color: var(--back-to-home-color);
  border: 1px solid var(--link-border-color);
  border-radius: 4px;
  transition: color 200ms ease-out, border 200ms ease-out;

  &:hover {
    color: var(--back-to-home-hover-color);
    border: 1px solid color-mix(in srgb, var(--back-to-home-hover-color) 50%, transparent);
  }
}

.section {
  margin-top: 40px;
}

.structure-inner {
  margin-top: 10px;
  padding: 10px 12px;
  border-radius: var(--p-content-border-radius);
  border: 1px dashed var(--grammar-card-border);
  border-width: 2px;
  line-height: 1.7;
  word-break: keep-all;
}

.table-highlight-row {
  background-color: var(--selected-row-color) !important;
}

.table-non-highlight-row {
  opacity: 0.3;
  filter: saturate(0.2);
}

.grammar-title {
  font-size: 1.3rem;
  color: var(--grammar-title-highlight);
  opacity: 0.9;
  margin-bottom: 20px;
}

.grammar-subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 18px;
}

.chart {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.related-mb {
  margin-bottom: 2px;
}

.mt {
  margin-top: 20px;
}

.grammar-example-sentences {
  .example {
    text-align: center;
    font-size: 1.3em;
  }

  .translation {
    text-align: center;
    opacity: 0.8;
    color: var(--grammar-example-sentences-color);

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }

    &.strong {
      color: var(--grammar-example-sentences-strong-color);
      margin-top: 8px;
    }
  }
}

.grammar-box {
  position: relative;
  width: fit-content;
  padding: 16px 24px;
  margin: 16px 40px;
  border: 1px solid var(--grammar-box-border-color);
  border-radius: 4px;
}

.sticky {
  transition: transform 0.3s;
  transform: translate(0);
}

.hide-sticky {
  transition: transform 0.2s;
  transform: translateY(-100%);
}

/*
* Variables
*/

:root {
  --body-bg: var(--p-zinc-100);
  --body-bg-mobile: var(--p-zinc-100);
  --footer-bg: var(--p-zinc-300);
  --footer-border: rgba(199, 199, 199, 0.665);
  --grammar-highlight: var(--p-primary-500);
  --grammar-highlight-bg: var(--p-zinc-200);
  --grammar-highlight-bg-mobile: #dddddd;
  --kanji-highlight: #a43ca1;
  --stem-change-highlight: #af6200; /* #998d00 */
  --remove-highlight: #f65252;
  --grammar-title-highlight: #905f8f;
  --note-bg-color: #ebd8d8;
  --link-border-color: rgba(0, 0, 0, 0.2);
  --note-text-color: rgb(165 63 63);
  --line-color: rgba(132, 132, 132, 0.4);
  --line-color-soft: #d2d7db7a;
  --accordion-color: #ebebeb;
  --grammar-box-border-color: #75757566;

  /* HOME */
  --list-section-bg: #fbfbfb;

  /* GRAMMAR LIST */
  --list-item-bg: #f7f7f7;
  --list-item-bg-hover: white;

  /* GRAMMAR STRUCTURE */
  --grammar-structure-bg: #e3e3e3;
  --grammar-structure-bg-mobile: #efefef;
  --grammar-structure-header: #d6d6d6;
  --grammar-structure-header-mobile: #fbfbfb;
  --grammar-card-border: rgba(73, 73, 73, 0.27);

  /* GRAMMAR EXAMPLE */
  --grammar-example-bg: #fdfdfd;
  --grammar-exaple-note-color: #006337;
  --grammar-example-sentences-color: #797979;
  --grammar-example-sentences-strong-color: var(--p-card-color);

  /* NAVBAR */
  --navbar-hover-color: rgba(113, 113, 113, 0.1);
  --mobile-search-section-border-color: #d1d1d1;

  /* SEARCH RESULTS */
  --search-result-bg: #f7f7f7;
  --search-result-bg-hover: #fefefe;
  --search-result-subtitle: #818181;
  --search-result-border-color: #c4c4c4;
  --search-result-no-result-color: #a0a0a0;

  /* CUSTOM SELECT BUTTON */
  --custom-select-button-text: rgba(0, 0, 0, 0.7);
  --custom-select-button-text-hover: rgba(0, 0, 0, 1);
  --custom-select-button-border-color: var(--p-select-border-color);

  /* NOTFOUND */
  --back-to-home-color: var(--p-primary-500);
  --back-to-home-hover-color: var(--p-primary-400);

  /* CHART */
  --selected-row-color: #ffffff;

  /* PRIMEVUE OVERRIDES */
  /* --p-togglebutton-background: var(--p-zinc-300) !important;
  --p-togglebutton-checked-background: var(--p-zinc-300) !important;
  --p-togglebutton-border-color: var(--p-zinc-300) !important; */

  .mobile-color {
    --p-toolbar-background: var(--p-zinc-200);
  }
}

:root[class="dark-mode"] {
  --body-bg: #121212;
  --body-bg-mobile: #0c0c0c;
  --footer-bg: var(--p-zinc-900);
  --footer-border: rgba(85, 85, 85, 0.28);
  --grammar-highlight: var(--p-primary-400);
  --grammar-highlight-bg: var(--p-zinc-900);
  --grammar-highlight-bg-mobile: var(--p-zinc-950);
  --grammar-highlight-bg-mobile: #101012;
  --kanji-highlight: #e4c4e3;
  --stem-change-highlight: #c6c455;
  --remove-highlight: #ff7171;
  --grammar-title-highlight: #e4c4e3;
  --note-bg-color: #2b1d1d;
  --link-border-color: rgba(255, 255, 255, 0.2);
  --note-text-color: rgb(213, 127, 127);
  --line-color: rgba(255, 255, 255, 0.2);
  --line-color-soft: #272727;
  --accordion-color: #121212;
  --grammar-box-border-color: #e1e1e166;

  /* HOME */
  --list-section-bg: #090909;

  /* GRAMMAR LIST */
  --list-item-bg: #212121;
  --list-item-bg-hover: #2f2f2f;

  /* GRAMMAR STRUCTURE */
  --grammar-structure-bg: var(--p-zinc-900);
  --grammar-structure-bg-mobile: #181818;
  --grammar-structure-header: #393939;
  --grammar-structure-header-mobile: #111111;
  --grammar-card-border: rgba(73, 73, 73, 0.74);

  /* GRAMMAR EXAMPLE */
  --grammar-example-bg: #2d2d2d;
  --grammar-exaple-note-color: var(--p-primary-250);
  --grammar-example-sentences-color: #afafaf;
  --grammar-example-sentences-strong-color: white;

  /* NAVBAR */
  --navbar-hover-color: rgba(191, 191, 191, 0.1);
  --mobile-search-section-border-color: #2d2d2d;

  /* SEARCH RESULTS */
  --search-result-bg: #1e1e1e;
  --search-result-bg-hover: #2d2d2d;
  --search-result-subtitle: #b5b5b5;
  --search-result-border-color: #434343;
  --search-result-no-result-color: #666666;

  /* CUSTOM SELECT BUTTON */
  --custom-select-button-text: rgba(255, 255, 255, 0.7);
  --custom-select-button-text-hover: rgba(255, 255, 255, 1);
  --custom-select-button-border-color: #52525b;

  /* NOTFOUND */
  --back-to-home-color: var(--p-primary-250);
  --back-to-home-hover-color: var(--p-primary-300);

  /* CHART */
  --selected-row-color: #131414;

  /* PRIMEVUE OVERRIDES */
  --p-ripple-background: rgba(255, 255, 255, 0.1);
  /* --p-togglebutton-background: var(--p-surface-950) !important;
  --p-togglebutton-checked-background: var(--p-surface-950) !important;
  --p-togglebutton-border-color: var(--p-surface-950) !important; */

  .mobile-color {
    --p-toolbar-background: #212121;
  }
}

/*
* Overrides
*/

/* Turn off hover effect for mobile devices */
@media (pointer: coarse) {
  .p-button:hover {
    background-color: transparent !important;
  }
}

/* .p-accordioncontent.p-toggleable-content-enter-active {
  transition: max-height 0.7s ease-in-out !important;
} */
